.body{
    background-color:#dddddd;
}


/* NAV BAR */
.nav ul {
    list-style: none;
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
  }
   
  .nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
  }
   
  .nav a:hover {
    background-color: #005f5f;
  }
   
  .nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
  }
   
  @media screen and (min-width: 600px) {
    .nav li {
      width: 120px;
      border-bottom: none;
      height: 50px;
      line-height: 50px;
      font-size: 1.4em;
    }
    .nav li {
        float: left;
      }
      .nav ul {
        overflow: auto;
        width: 600px;
        margin: 0 auto;
      }
      .nav {
        background-color: #444;
        
      }
    }
/* END NAV BAR */

.about-me{
    width: 60%;
    margin: auto;
    color: #4aaaa5;
    border-bottom: 2px solid #cccccc;
    background: #ffffff;
}

.about-img{
    height: 250px;
    
}

.nav-container{
    padding: 25px;
}

.label{
    float:right;
    text-align: center;
    background-color:#4aaaa5;
    width: 250px;
    color: #ffffff;
}

.nombre{
    float: left;
}

.nav-links{
    display: inline-block;
    text-align: right;
    padding-right: 25px;
    
}

.myText{
    /* text-align: center; */
    color: #777777;
    border-color: #dddddd;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: #ffffff;
    
}

.row{
    width: 60%;
    margin: auto;
    background-color: #ffffff;
}

.footer{
    background-color:#666666;
    width: 100%;
    position:absolute;
    bottom: 0;
    text-align: center;
    border-top: 4px solid #4aaaa5;
    padding: 5px;
}

.footer-nonabsolute{
    position: relative;
}


.form{
    width: 50%;
    margin: auto;

}

.btn{
    background-color:#4aaaa5;
    border: none;

}

.work {
    position: relative;
    float: left;
    /* width: 250px; */
    margin: 25px;
    overflow: auto;
    /* height: 250px; */
    background-size: cover;
  
}  

.main-selection{
  width: 100%;
  max-width: 960px;
  padding: 30px;
  margin: 0 0 40px;
  background: #ffffff;
  border: 1px solid #dddddd;
}

#main-container {
    padding-top: 5px;
    min-height: calc(100vh - 70px);
    background: #ffffff;
}  

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}  

.work h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
}  

.clearfix {
    clear: both;
}

.clearhack:after {
    content: "";
    display: table;
    clear: both;
  }

#firstimg{
    /* background-image: url("psychic.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: auto;
    max-height: auto;

}

#secondimg{
    /* background-image: url("crystal.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: auto;
    max-height: auto;
}

#thirdimg{
    /* background-image: url("technics-q-c-640-480-5.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: auto;
    max-height: auto;

}

#fourthimg{
    /* background-image: url("technics-q-c-640-480-7.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: auto;
    max-height: auto;

}
#fifthimg{
    /* background-image: url("technics-q-c-640-480-9.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: auto;
    max-height: auto;

}

.contactMe{
    color: #4aaaa5;
}

.portfolio{
    color: #4aaaa5;
}

.img{
    height: 250px;
    width: 250px;
}

.linkedIn{
    text-align: center;
}